.carscontainer {
    width: 90%;
    margin: auto;

    ::-webkit-scrollbar{
       display:none;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;

        @media (max-width:800px) {
            font-size: 27px;

        }
    }

    .cards_container {
        display: flex;
        align-items: center;
        overflow: auto;
        width: 100%;
       
        



        a {
            text-decoration: none;
          
            margin-right: 50px;

            
            @media (min-width:800px) {
                padding-bottom: 36px;
            }

            &:first-child {
              margin-left: 50px;
            }

            @media (max-width:800px) {
                margin-bottom: 40px;
                width: 80%;
            }

            .card {
                width: 345px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                max-width: 330px;
                height: 350px;
                min-height: 270px;

                border-style: solid;
                border-color: #0000001f;
                border-width: 3px;
                border-radius: 4px;

               

                @media (max-width:800px) {
                    width: 100%;
                    margin: auto;
                    height: fit-content;
                }

                .cardimage {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                    background-color: rgba(0, 0, 0, 0.103);
                   
                    height: fit-content;

                    @media (max-width:800px) {
                        height:100% ;
                        padding: 0px 5px;
                    }

                    img {
                        width: 300px;
                        height: 200px;
                        object-fit: cover;

                        @media (max-width:800px) {
                            width: 200px;
                            height: 150px;
                        }

                       
                    }

                    
                }

                .details {
                    padding: 3%;

                    p{
                        margin: 0;
                        margin-bottom: 5px;
                    }

                    .price {
                        font-family: 'Heebo',
                            sans-serif;
                        font-weight: 600;
                        color: #483f3f;
                        font-size: 22px;

                        @media (max-width:800px) {

                            font-size: 18px;
                        }
                    }

                    .year {
                        font-family: 'Heebo', sans-serif;
                        font-weight: 300;
                        color: #483f3f;
                        font-size: 14px;
                    }

                    .title {


                        font-family: 'Montserrat', sans-serif;
                        font-size: 13px;
                        font-weight: 600;
                        color: gray;

                        @media (max-width:800px) {
                            font-size: 12px;
                        }


                    }
                }
            }
        }

        .viewall{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 25px;

            @media (max-width:800px) {
                img{
                    width: 40px;
                }

                
            }

            p {
                font-family: "Lato", sans-serif;
                letter-spacing: 1px;
                font-size: 15px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.628);
                text-decoration: none;
               
    
                @media (max-width:800px) {
                    font-size: 13px;
                }
    
            }
        }

    }

    button {
        color: white;
        background: black;
        border: none;
        height: 38px;
        width: 200px;
        border-radius: 7px;
        margin-top: 60px;
        margin-left: 30px;

        @media (max-width:800px) {
            margin-top: 20px;
            width: 130px;
            height: 30px;
        }

        p {
            font-family: "Lato", sans-serif;
            letter-spacing: 1px;
            font-size: 15px;
            margin: 0;

            @media (max-width:800px) {
                font-size: 13px;
            }

        }
    }
}