.sellNowContainer {
    margin-top: 110px;

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    form {
        display: flex;
        flex-wrap: wrap;
    }


    .proptype {

        p {
            margin-bottom: 12px;
        }

        display: flex;
        width: 300px;
        align-items: center;
        justify-content: space-between;
        width: 34%;
        padding-left: 10%;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width:800px) {
            width: 90%;
            padding-left: 0%;
        }

        .MuiFormControl-root {
            width: 50%;


            @media (max-width:800px) {
                width: 100%;
                padding-left: 0%;
            }
        }
    }

    h3 {
        font-size: 19px;
        color: rgb(75, 72, 72);
        margin-bottom: 50px;
        font-family: "Lato", sans-serif;

    }




    .suboptions {
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        padding: 0% 10%;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width:800px) {
            width: 90%;
            padding: 0%;
        }

        p {
            margin: 0;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            color: gray;

            @media (max-width:800px) {

                font-size: 14px;
            }

        }

        .checking {
            width: fit-content;

            @media (max-width:800px) {
                width: fit-content;
            }
        }

        div {
            width: 100%;

            input {
                height: 35px;
                outline: none;
                border-color: #8080803d;
                border-width: 1px;
                border-radius: 6px;
                font-family: "Lato", sans-serif;
                font-size: 15px;
                font-weight: 600;
                color: rgb(0 0 0 / 49%);
                padding-left: 10px;
                margin-bottom: 25px;
                margin-top: 14px;
                width: 100%;
            }

            textarea {
                outline: none;
                border-color: #8080803d;
                border-width: 1px;
                border-radius: 6px;
                font-family: "Lato", sans-serif;
                font-size: 15px;
                font-weight: 600;
                color: rgb(0 0 0 / 49%);
                padding: 10px;
                resize: none;

            }

            p {
                font-family: "Lato", sans-serif;
                font-size: 13px;
                color: red;
            }


        }

    }

    .makeitrow {
        @media (max-width:800px) {
            flex-direction: row !important;
            align-items: flex-start !important;
        }

        @media (min-width:800px) {
            flex-direction: row !important;
            align-items: flex-start !important;

        }
    }

    h3 {
        width: 100%;
        padding-left: 10%;
        margin-top: 75px;

    }

    .inputbox {

        @media (min-width:800px) {
            margin-left: 30px;
        }

        .inputfile {
            display: none;

            margin-left: 100px;
            margin-bottom: 30px;

            @media (min-width:800px) {
                margin-left: 30px;
            }
        }

        .uploadedimage {
            margin-bottom: 40px;
            min-width: 300px;
            min-height: 300px;
            border-style: solid;
            border-width: 1px;
            border-color: rgba(128, 128, 128, 0.411);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            @media (max-width:800px) {
                width: 90%;
            }

            span {
                display: flex !important;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            .deleteimage {
                position: absolute;
                top: 9px;
                left: 7px;
                background: white;
                padding: 3px;
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                border-color: #00000066;

                img {

                    width: 25px;
                }

            }


            div {
                div {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    .button_div {
        margin-top: 37px;
        margin-bottom: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            color: white;
            background: green;
            border: none;
            height: 38px;
            width: 200px;
            border-radius: 7px;
            margin-top: 60px;
            margin-left: 30px;

            @media (max-width:800px) {
                margin-top: 20px;
                width: 130px;
                height: 30px;
            }

            p {
                font-family: "Lato", sans-serif;
                letter-spacing: 1px;
                font-size: 15px;
                margin: 0;

                @media (max-width:800px) {
                    font-size: 13px;
                }

            }
        }
    }

    .uploadbox {

        display: flex;
        gap: 20px;


        .uploadedfile {
            width: 150px;
            height: 150px;
            background: aliceblue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            padding-top: 36px;
            box-sizing: border-box;
            position: relative;

            p {
                color: rgb(75, 72, 72);
                font-family: "Lato", sans-serif;
                font-size: 12px;
            }

            input[type="file"] {
                display: none;
            }


            .error {
                font-family: "Lato", sans-serif;
                font-size: 13px;
                color: red;
            }

            .deletebutton {
                position: absolute;
                top: 16px;
                right: 15px;
                width: 23px;
            }

        }


    }


}

.error {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: red;
}

.labelclass {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: gray;

    @media (max-width:800px) {

        font-size: 14px;
    }
}